$spark-drums-blue: #2273db;
$spark-drums-red: #cc3020;
$spark-drums-yellow: #ffbd59;
$spark-drums-green: #22a885;
$spark-drums-background: #FFFBEF;
$spark-drums-navy: #2c3e50;

$light-wood: #fee9b8;
$medium-wood: #803407;
$dark-wood: #5d4241;
$ebony-wood: #3d0000;
$steel: #777777;
$cherry-red: #dc3545;
$dark-cherry-red: #630d21;

$menu-width: 240px;